{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 col-md-4">
    <h4>Add a new car</h4>

    {{ form_start(carForm)}}
        {{ form_widget(carForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">Add car</button>
    {{ form_end(carForm) }}
</div>
{% endblock %}