<p><b>Please confirm your email!</b></p>

<p>
    Your registration for Car Coop is almost complete. Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Please note that in order to verify your email address, you need to log in.
</p>

<p>
    Cheers!
</p>
