{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 col-md-4">
    <h4>Add a new booking for {{ car.name }}</h4>

    {{ form_start(bookingForm)}}
        {{ form_widget(bookingForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">Add booking</button>
    {{ form_end(bookingForm) }}
</div>
{% endblock %}