{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 mt-5">
    <h4>Edit usergroup of {{ car.name }}</h4>

    {{ form_start(usergroupForm)}}
        {{ form_widget(usergroupForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">Edit Usergroup</button>
    {{ form_end(usergroupForm) }}
</div>
{% endblock %}