{% extends 'base.html.twig' %}

{% block content_body %}
<div class="col-xl-6 col-md-4">
    <h4>Edit payment with {{ car.name }}</h4>

    {{ form_start(paymentForm)}}
        {{ form_widget(paymentForm) }}

        <button type="submit" class="btn btn-outline-dark my-3">Edit payment</button>
    {{ form_end(paymentForm) }}
</div>
{% endblock %}