{% extends 'base.html.twig' %}


{% block layout %}
    {% block content_body %}
        <div class="col-xl-8 col-md-6">
            <h4>How Car Coop works</h4>
        </div>
    {% endblock %}
{% endblock %}