{% extends 'email/base.html.twig' %}

{% block content %}
<p><b>{{ 'event_email.user.removed_from'|trans({'%car%': car.name}) }}</b></p>

<p>{{ 'event_email.user.removed_message'|trans({'%user%': userName, '%car%': car.name}) }}</p>
{% endblock %}
