<div class="d-flex align-items-center justify-content-center gap-3 mb-3">
    <img class="rounded-circle" src="{{ asset('./static/default-car.png')|imagine_filter('profile_thumb') }}" alt="" height="60" width="60">
    <h3 class="mb-0">Car Coop</h3>
</div>
